
body{
	font-family: 'Baloo Thambi 2', cursive;
	line-height: 27px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	background-color: #fff;
    font-size: 14px;
    color: #1c1c1c;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
}
p{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

a{
	text-decoration: none;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 22px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 15px;
    color: #1c1c1c;
    display: block;

}



#wrapper{
	width: 100%;
}


/*--------------------------------------------------header-------------------------------------------------------------------------*/
#header{
	display: block;
	width: 100%;
    position: relative;
    background: #fff;
    left: 0;
    top: 0;
    border-bottom: 1px solid #f5f5f5;
    z-index: 99;
    position: fixed;
}
}

#wp_header{
	
}

.site_header_inner{
	max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 90px;
}

.site_header_left{
	    flex: 1;
	    display: block;
}



.site_header_logo{
	flex: 0 0 auto;
    padding: 0 20px;
    display: block;

}

.site_header_logo a{
	display: block;
	background-color: transparent;
}

.site_header_logo a img{
	border-style: none;
    vertical-align: middle;
    width: 150px;
    height: 90px;
}

.site_header_right{
	flex: 1;
	display: block;
    margin-top: 20px;
}

.site_nav ul{
	margin: 0;
    padding: 0;
    display: flex;
}

.site_nav ul li{
	list-style: none;
	position: relative;

}

.site_nav ul li:hover{
	display: block;
}

.site_nav ul li a{
	font-size: 14px;
    font-weight: 1000;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: block;
    position: relative;
    line-height: 50px;
    padding: 0 35px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    transition: .2s all;

}

.site_nav ul li a:hover{
	color: #916841;
}

.item_menu:hover .sub_menu{
	display: block;
}


.sub_menu{
	position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 11;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    min-width: 240px;
    box-shadow: 2px 2px 2px -2px #ddd;
}


.container{
	position: relative;
	max-width: 1280px;
    padding-left: 0px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}


ul.site_nav.link {
    flex-flow: column;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
}

li.site_nav.item{
	position: relative;
}

li.site_nav.item a{
	text-align: left;
}

.cartCount{
	height: 14px;
    line-height: 14px;
    background: #1c1c1c;
    color: #fff;
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    min-width: 14px;
    padding: 0 2px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-indent: 2px;
    position: absolute;
    top: 12px;
    right: 6px;
}


.active-cyan-4.mb-4 {
    display: inline-flex;
    padding: 0 35px;
}

.form-control{
	width: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*--------------------------------------------------end-header-------------------------------------------------------------------------*/


/*--------------------------------------------------content-------------------------------------------------------------------------*/
#content{
    margin-top: 90px;
}

.account_page{
    padding: 110px 0;
}

div#customer_login{
    width: 600px;
    margin: 0 auto;
}

h1{
    font-size: 36px;
    text-align:center;
}

.form-field {
    display: flex;
    flex-flow: column;
    margin-top: 35px;
}

input.form-input {
    border: none;
    background: #f7f7f7;
    padding: 10px 0;
}

/*input#CustomerPassword {
    border: none;
    background: #f7f7f7;
    padding: 10px 0;
}*/

#RecoverPassword{
    text-align: right;
}

.login{
    padding: 10px;
    border-radius: 0;
    background: #000;
    color: #fff;
    font-size: 20px;
}

.login:hover{
    background: #916841;
    color: #fff;
}




.community_gallery{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 50px 0;

}

.our_community__img {
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
}

.text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-align: center;
    color: #000;

}

.text>h2{
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
}

.text>h4{
    color: #000;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}


.our-community__content {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.52px;
    max-width: 900px;
    text-align: center;
    margin: 50px auto 0;
}


.our_community__content{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.52px;
    max-width: 900px;
    text-align: center;
    margin: 50px auto ;

}

/*--------------------------------------------------end-content-------------------------------------------------------------------------*/
/*--------------------------------------------------policies-------------------------------------------------------------------------*/

.policies{
	padding: 25px 0;
    background: #1c1c1c;
    display: block;
}

h4{
	font-size: 18px;
	color: #f5f5f5;
	font-size: 14px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    margin: 15px 0 0;
    text-align: center;
}

.grid_column.poli svg {
    margin-left: 127px; 
}



/*--------------------------------------------------end-policies-------------------------------------------------------------------------*/

/*--------------------------------------------------footer-------------------------------------------------------------------------*/
.footer{
	font-size: 12px;
    line-height: 25px;
    padding-top: 95px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #1c1c1c;
    -webkit-font-smoothing: antialiased;
}

.footer p{
	letter-spacing: 0.5px;
    margin-bottom: .7em;
    margin-top: .7em;
}
.footer_top{
	display: block;
}

.grid_column{
	position: relative;
    box-sizing: border-box;
    min-height: 1px;
    vertical-align: top;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 15px;
    width: 100%;
}

h3{
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 22px;
    font-weight: 1000;
    margin-top: 0;
    margin-bottom: 15px;
    color: #1c1c1c;
    display: block;
}

ul.footer.linklist{
	margin: 0;
    padding: 0;
}

li.linklist.item{
	list-style: none;
    line-height: 42px;
}

li.linklist.item a{
	text-transform: uppercase;
    letter-spacing: .5px;
    background-color: transparent;
    text-decoration: none;
    color: #1c1c1c;
    transition: .2s all;
}

li.linklist.item a:hover{
	color: #916841;
}

.register{
	display: inline-flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    justify-content: center;
    height: 55px;
    padding: 0 64px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    white-space: nowrap;
    transition: .2s all;
    border: 1px solid transparent;
    background: #1c1c1c;
    color: #fff;
}


.register:hover{
	color: #fff;
	background-color:#916841;
}

.social_icon{
	margin-top: 40px;
	display: flex;
}

.social_icon_link{
	padding-left: 0;
	padding: 0 25px;
    background-color: transparent;
    text-decoration: none;
    color: #1c1c1c;
    transition: .2s all;
}

.copyright{
	display: block;
	padding: 0 320px;
}

.copyright p{
	font-size: 13px;
    margin: 0;
    text-align: center;
}